{% for decorator in decorators %}
{{ decorator }}
{% endfor %}
class {{ class_name }}{% if class_args %}{{ '('~class_args~')' }}{% endif %}:
    """
    {{ class_docstring | indent() }}
    """
{{ class_body | indent(first=True) }}

{#    {% for item in class_body -%}#}
{#    {{ item | indent() }}#}
{#    {% else %}#}
{#    pass#}
{#    {% endfor %}#}
