{% for decorator in decorators %}
{{ decorator }}
{% endfor %}
def {{ function_name }}({{ function_args }}):
    {% if not function_body %}
    pass
    {% else %}
{{ function_body | indent()}}
    {% endif %}
